*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.body-grid {
  display: grid;
  grid-template-rows: [header] 80px [main] 510px [footer] 60px;
  grid-template-columns: [left-gutter] 10px [content] auto [right-gutter] 10px;
}

.body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-row: header;
  grid-column: 1/ 4;
  background-color: var(--header-color);
}

.body-main {
  grid-row: main;
  grid-column: 1 / 4;
  background-color: var(--main-background-color);
}

.body-footer {
  grid-row: footer;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  font-size: 20px;
}

.header-logo {
  width: auto;
  height: 60px;
}

.header-filter__flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
}

.header-filter__button,
.header-load__button {
  border-radius: 8px;
  background-color: var(--button-color);
}

.header-filter__search {
  height: 20px;
  width: 80px;
}

.main-content {
  grid-column: content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  margin: 20px 10px;
  overflow-y: scroll;
}

.main-character-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 160px;
  padding: 10px;
  border: solid 2px black;
  background-color: var(--character-card-color);
}

.character-card__image {
  border-radius: 50%;
  height: auto;
  width: 70px;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
